# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/vahid279/public_html/addons/academit/bot/telegram_forwarder"
PassengerBaseURI "/bot/telegram_forwarder"
PassengerPython "/home/vahid279/virtualenv/public_html/addons/academit/bot/telegram_forwarder/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
